<nav class="navbar">
  <div class="logo">Easy<span>Funds</span></div>

  <ul class="nav-links">
   <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink="/founders" routerLinkActive="active">Founders</a>
  <a routerLink="/investor" routerLinkActive="active">Investor</a>
  <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
  <a routerLink="/predications" routerLinkActive="active">Predications</a>
  <button class="login-btn"><a routerLink="/login">Login</a></button>
    </ul>
</nav>
