
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 22px 50px;   
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 12px rgba(0,0,0,0.3);
}

.logo {
  font-size: 32px;      
  color: white;
  letter-spacing: 1px;
}

.logo span {
  color: #e4b662;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;            
}

.nav-links a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 18px;      
  transition: 0.25s;
  padding: 10px 14px;   
  border-radius: 8px;
}

.nav-links a:hover {
  color: white;
  background: rgba(255,255,255,0.1);
}


.nav-links a.active {
  color: #e4b662 !important;
  border-bottom: 3px solid #e4b662;  
}

.login-btn {
  text-decoration: none;
  padding: 12px 24px;       /* bigger button */
  background: #e4b662;
  color: black;
  font-size: 18px;          /* bigger button text */
  font-weight: 700;
  border-radius: 10px;
  transition: 0.25s;
}

.login-btn:hover {
  background: #f0c878;
  transform: translateY(-3px);
}

@media (max-width: 850px) {
  .navbar {
    padding: 18px 25px;
  }

  .nav-links {
    gap: 18px;
  }
}

@media (max-width: 650px) {
  .nav-links {
    display: none;
  }

  .login-btn {
    display: none;
  }
}

body, * {
   font-family: Arial, sans-serif;
}
